.headingContainer{
    display: flex;
    justify-content:space-around;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    padding: 10px;
    
   
}
.SelectedItemDiv{
   width: 30%;
   /* border: 1px solid red; */

   text-align:left;
}
.remaining{
   /* border: 1px solid red; */
   width: 48%;
   display: flex;
   justify-content:space-between;
}
.assurance{
   display: flex;
   justify-content:space-between;
   /* border: 1px solid black; */
   
   
}
.Guarantee{
   width:40%;
   display: flex;
   justify-content:space-between;
   text-align:left;
}
.alignLeft{
   width: 20%;
  
   text-align:left;
}
.checkout{
   display: flex;
    justify-content:space-between;
    /* border: 1px solid black; */
    width: 40%;
    padding: 20px;
}
.checkout > img{
   width: 150px;height: 50px;
}
.InsideDivText{
   color:rgb(61, 61, 61);
   font-weight:10px;
}
.paymentoptioncontainer{
   display: flex;
    justify-content:space-around;
   
    padding: 10px;
}
.checkoutButton{
   background-color: yellow;
   width: 100px;
   height:40px;
   color: black;
   padding: 5px;
   border: 1px solid black;
   font-weight: bold;
}
.fourtyfivedays{
   display:flex;
   /* border: 1px solid black; */
}
.logoImageContainer{
   width:40px;
   height:30px;
   margin-right:10px;
   /* border: 1px solid black; */
   margin-top:10px;
}
.TotalText{
   font-size:25px;
   color: red;
   font-weight:bold;
}
.AcceptedPaymentMethod{
   padding: 10px;
   width:30%;
   display: flex;
   justify-content:space-around
}
.AcceptedPaymentMethod>img{
width:20%;
height: 40px;
}
.boxShadowContainer{
   box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
   padding:10px;
}

.continueShop{
   width: 70%;
   border: 1px solid black;
   color: black;
   padding: 30px;
   margin: auto;
   margin-top: 20px;
   display: flex;
   justify-content: space-between;
}
.continueShop>button {
   padding: 10px 20px;
   background-color: #ffda00;
   
}