

section {
    /* width: 100%; */
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 65%;
    padding: 50px 30px;
    border-radius: 6px;
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 40px;
  }

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

a, a:visited {
    color: #fff;
}

input[type="text"],
input[type="password"],
button,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

label,
button {
  margin-top: 1rem;
}

button {
  padding: 0.5rem;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
    width: 100%;
}

.toplogindiv{
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: flex-end;
  
}
.signin{
  width:100%;
  height: 40px;
 
  background-color: #ffda00;
  color: black;
  font-weight: 600;
  font-size: 18px;
  margin-top: 20px;
}

.signin:hover{
  background-color:  #b69f1d;
 
  color: black;
}

.google{
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.registerinput{
  border: 0.5px solid grey;
}